---
import Metadata from "../components/metadata.astro";
---

<div class="content-center">
  <Metadata />
</div>

<style>
.content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
</style>